.box_bkg {
  /* background: #f6f4f5 !important; */
  /* background: var(--background-1) !important; */
}

.layout_container {
  min-height: 100vh;
}

/***  CONTENT STYLES ***/
.main_layout,
.main_layout > * {
  background: none;
  background: var(--background-2);
  /* background: transparent; */
}

/***  CONTENT STYLES END ***/

/***  HEADER STYLES ***/
.header {
  background: none !important;
  padding: 0 20px;
  line-height: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: var(--border-thin);
}

.icon {
  font-size: 20px;
}

.trigger {
  padding: 0 4px;
  font-size: 18px;
  /* line-height: 64px; */
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: var(--primary-light);
}

/***  HEADER STYLES END ***/
