.card {
  margin: auto;
  width: 400px;
  background: var(--background-1);
  box-shadow: var(--box-shadow-main);
}

.card_content {
  width: 100%;
  align-items: center;
}

.top_text {
  margin-bottom: 20px;
  line-height: 3;
  font-size: 2.3em;
  font-weight: 600;
  color: rgb(73, 73, 73);
}

.search_button,
.number_input {
  width: 300px;
}

.number_input {
  height: 45px;
}

.search_button {
  margin: 40px auto;
  font-size: 1.3em;
  font-weight: 500;
  line-height: 0;
  letter-spacing: 1.2px;
}
