.container {
  width: 55%;
  margin: 65px 0 20px;
}

.list {
  height: fit-content;
  width: 93%;
  margin: auto;
  padding: 0.6rem 0.5rem;
  background: var(--background-1);
  border: var(--border-thin);
  border-radius: 5px;
  box-shadow: var(--box-shadow-main);
}

.virtual_list {
  padding: 1rem;
}

.list_item {
  position: relative;
}

.list_item_tag {
  margin: 10px 20px;
  position: absolute;
  top: 2px;
  right: 0;
  font-size: 0.81em;
  line-height: 1.5;
  letter-spacing: 0.3px;
}

.statistic > :last-child {
  font-size: 0.88em;
}
