.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 90px auto 10px;
  width: 70%;
}

.book_ticket {
  width: 100%;
}

.steps_content {
  height: 500px;
  margin-top: 16px;
  padding: 40px 0;
  background-color: var(--background-1);
  border: var(--border-dashed);
  border-radius: 2px;
  overflow-y: auto;
}
